
<form >
    <div class="form-row" style="margin-bottom: 40px;">
        <button type="button" style="margin-left: 5px;" class="btn btn-outline-primary">Salvar</button>
        <button type="button" class="btn btn-outline-warning" (click)="cancelar()" >Cancelar</button>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 197%;" [(ngModel)]="pessoa.nome" placeholder="Nome" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" style="width: 69%; margin-left: 21rem;" [(ngModel)]="pessoa.cpf" placeholder="CPF" >    
        </div>
        <div class="col">
            <button class="btn btn-outline-primary dropdown-toggle" style="margin-left: 14rem;" type="button" id="dropdownMenu" data-toggle="dropdown">
              Tipo de Contato
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <button class="dropdown-item" type="button">Pessoal</button>
                <button class="dropdown-item" type="button">Comercial</button>
            </div>
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="email" class="form-control" [(ngModel)]="pessoa.email" placeholder="Email" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="pessoa.telefone" placeholder="Telefone" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="pessoa.celular" placeholder="Celular" >    
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 148%;" placeholder="Logradouro">
        </div>
        <div class="col">
            <input type="number" class="form-control" style="margin-left:11em; width: 51%;" placeholder="Numero">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Cep" >
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Bairro">
        </div>    
        <div class="col">
            <input type="text" class="form-control" placeholder="Cidade">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Estado">
        </div>
    </div>
</form>