
<form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
    <div class="form-row" style="margin-bottom: 40px;">
        <button type="button" style="margin-left: 5px;margin-right: 5px;" class="btn btn-outline-primary" (click)="salvar()" >Salvar</button>
        <button type="button" class="btn btn-outline-warning" (click)="cancelar()" >Cancelar</button>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 40rem;" [(ngModel)]="pessoa.nome" name="nome" placeholder="Nome" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" style="width: 18rem;" [(ngModel)]="pessoa.cpf" name="cpf" maxlength="11" placeholder="CPF" >
        </div>
        <div class="col">
            <select  class='form-control primary' [value]='0'>
                <option value='0'>Pessoal</option>
                <option value='1'>Comercial</option>
            </select>
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="email" class="form-control" style="width: 34rem;" [(ngModel)]="pessoa.email" placeholder="Email" name="email" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" style="width: 17rem;" [(ngModel)]="pessoa.telefone" placeholder="Telefone" name="telefone" maxlength="9" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" style="width: 17rem;" [(ngModel)]="pessoa.celular" mask="(99)99999-9999" placeholder="Celular" name="celular" maxlength="8" >    
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 39rem;" [(ngModel)]="endereco.logradouro" placeholder="Logradouro" id="logradouro" name="logradouro">
        </div>
        <div class="col">
            <input type="number" class="form-control" style="width: 9rem;" [(ngModel)]="endereco.numero" placeholder="Nº " name="numero">
        </div>
        <div class="col">
            <input type="number" class="form-control" [(ngModel)]="endereco.cep" style="width: 19rem;" placeholder="Cep" (blur)="searchCep($event.target.value, f)" name="cep">
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="endereco.bairro" name="bairro">
        </div>    
        <div class="col">
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="endereco.cidade" name="cidade">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="endereco.estado" name="estado">
        </div>
    </div>
</form>