
<form #f="ngForm" (ngSubmit)="onSubmit(f)"  >
    <div class="form-row" style="margin-bottom: 40px;">
        <button type="button" style="margin-left: 5px;" class="btn btn-outline-primary" (click)="salvar()" >Salvar</button>
        <button type="button" class="btn btn-outline-warning" (click)="cancelar()" >Cancelar</button>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 197%;" [(ngModel)]="pessoa.nome" name="nome" placeholder="Nome" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" style="width: 69%; margin-left: 21rem;" [(ngModel)]="pessoa.cpf" name="cpf" placeholder="CPF" >    
        </div>
        <div class="col">
            <button class="btn btn-outline-primary dropdown-toggle" style="margin-left: 14rem;" type="button" id="dropdownMenu" data-toggle="dropdown">
                Tipo de Contato
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <button class="dropdown-item" value="1" type="button">Pessoal</button>
              <button class="dropdown-item" value="2" type="button">Comercial</button>
            </div>
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="email" class="form-control" [(ngModel)]="pessoa.email" placeholder="Email" name="email" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="pessoa.telefone" mask="(00)0000-0000" placeholder="Telefone" name="telefone" >    
        </div>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="pessoa.celular" mask="(00)00000-0000" placeholder="Celular" name="celular" >    
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" style="width: 148%;" [(ngModel)]="pessoa.endereco.logradouro" placeholder="Logradouro" id="logradouro" name="logradouro">
        </div>
        <div class="col">
            <input type="number" class="form-control" style="margin-left:11em; width: 51%;" [(ngModel)]="pessoa.endereco.numero" placeholder="Numero" name="numero">
        </div>
        <div class="col">
            <input type="number" class="form-control" [(ngModel)]="pessoa.endereco.cep" placeholder="Cep" (blur)="searchCep($event.target.value, f)" name="cep">
        </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col">
            <input type="text" class="form-control" placeholder="Bairro" [(ngModel)]="pessoa.endereco.bairro" name="bairro">
        </div>    
        <div class="col">
            <input type="text" class="form-control" placeholder="Cidade" [(ngModel)]="pessoa.endereco.cidade" name="cidade">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Estado" [(ngModel)]="pessoa.endereco.estado" name="estado">
        </div>
    </div>
</form>