<div class="form-row">
  <h1>Contatos</h1>
  <div class="col">
    <input type="text" style="margin-left: 15rem;" class="form-control" placeholder="Procurar...">
  </div>
  <div class="col">
    <button type="button" style="margin-left: 30rem;" class="btn btn-outline-primary" [routerLink]='["/contato"]'> Adicionar </button>
  </div>  
</div>


<p *ngIf="!forecasts"><em>Loading...</em></p>

<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body"><!--
      <h5 class="card-title">{{contato.pessoa.nome}}</h5>
      <p class="card-text">Telefone : {{contato.telefone}} </p>
      <p class="card-text">E-mail : {{contato.email}} </p>
      <a [routerLink]='["/contato"]'>Mais...
      </a>-->
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Irythelly de Moura Viana</h5>
      <p class="card-text"><strong>Telefone :</strong> XXXX-XXXX</p>
      <p class="card-text"><strong>E-mail :</strong> alguem@gmail.com</p>
      <a [routerLink]='["/contato"]'>Mais...
      </a>
    </div>
  </div>
</div>